.container-dialog {
padding: 16px;
}

.cabecalho-dialog {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 24px;

h2 {
font-weight: 600;
}
}

.conteudo-dialog {
width: 100%;
}

.linha-formulario {
display: flex;
gap: 16px;
margin-bottom: 16px;
}

.campo-formulario {
width: 100%;
}

.campo-formulario1 {
padding-right: 48px;
}

.flex-end {
display: flex;
justify-content: flex-end;
margin-top: 16px;
}

.salvar-pagamento {
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

.botao-salvar-pagamento {
  background-color: #005FAD;
  color: #ffffff  ;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  }



